body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.5em;
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
}

svg text {
  font-size: 0.75rem;
  font-family: inherit;
}

path.domain,
.tick line {
  stroke: #ced4da;
}

.tick line {
  stroke-dasharray: 2;
}

.chart-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  pointer-events: none;
}

.chart-tooltip td:not(:first-child) {
  text-align: right;
  padding-left: 1rem;
}
